@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-animation{
  animation: slideshow 10s linear infinite;
}

@keyframes slideshow {
  0%    { translate: 0%; }
  100%  { translate: -110% }
}